/* app {
  margin: 0 auto;

} */

H1,
H2,
H3,
H4,
H5,
H6,
p,
button {
  font-family: "Work Sans";
}
H1 {
  font-weight: 400;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}
H2 {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
}

h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
p,
span {
  font-size: 15px;
}
.edit-loc-form {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-items: baseline;
  column-gap: 10px;
  /* row-gap:10px; */
}

button.edit {
  width: 40px;
  height: 30px;
}

/* ---------------------------------------------------------------- */
.title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: baseline;
}

button.edit {
  width: 40px;
  height: 30px;
  margin-left: 10px;
}

.event-items {
  display: flex;
}
.choose-events{
  margin:0 auto;
  margin-bottom:0.5rem !important;
  display: flex;
  justify-content: center;
}
.results-choose-events {
  columns: 2;
}
@media (max-width: 725px) {
  .results-choose-events {
    columns: 1;
  }
  .eventCard{
    margin-bottom:2rem;
  }
}
@media only screen and (min-width: 725px ) and (max-width: 1200px) {

  .eventCard{
    margin-bottom:3rem;
  }
}

.eventCard:hover {
  cursor: pointer;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}